
<div class="corps" >
  <table>
    <tr>
      <td>

        <div class="container py-5">


           <div   class="row">

           <div class="col-lg-6 mx-auto">

           <div class="card ">
           <div class="card-header">

               <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                 <div class="haut1">
                  <h4 style="text-align:center;">Agence à proximité</h4>

                 </div>

        <div class="liens">
          <img [src]="gps" class="gps">

        <a href="#" class="se">SE CONNECTER</a>
        <span class="vertical-line"></span>
        <a href="#" class="pro">À PROPOS</a>
        </div>








               </div>



                         </div>

                 </div>
             </div>
             </div>
               </div>

      </td>
      <td>

        <div class="container py-5">


           <div *ngIf="affiche() % 2==0"  class="row">

           <div class="col-lg-6 mx-auto">

           <div class="card ">
           <div class="card-header">

               <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                 <div class="haut1">
                  <img [src]="avatar" class="avatar" ><br>
                  <i class="compte">Compte</i>

                 </div>

        <div class="liens">
        <a href="#" class="lie">Lister les types d'assurances</a><br><br>
        <a href="#" class="lie">Souscrire à une assurance</a><br><br>
        <a href="#" class="lie">Ofrres d'assurances souscrits</a><br><br>
        <a href="#" class="lie">Agence à proximité</a><br><br>
        <a href="#" class="lie">Contacter son gestionnaire de compte</a><br><br>
        <a href="#" class="lie">Règlement de contrat à l'amiable</a><br><br>

        <a href="#" class="se">SE CONNECTER</a>
        <span class="vertical-line"></span>
        <a href="#" class="pro">À PROPOS</a>
        </div>








               </div>



                         </div>

                 </div>
             </div>
             </div>
               </div>

      </td>


      <td>
        <div class="container py-5">


        <div class="row">

        <div class="col-lg-6 mx-auto">

        <div class="card ">
        <div class="card-header">

            <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
            <div class="haut">
              <button type="button" class="btns "
              (click)="affiche()" >
                <div class="hl"></div>
                <div class="hl"></div>
                <div class="hl"> </div>
              </button>

                <i class="uab">UAB Mobil</i>
              </div>

      <img [src]="fond"  class="panier_image"/><br><br><br>
                <ul role="tablist"
                    class="nav bg-light nav-pills rounded nav-fill mb-3">
                    <li class="nav-item"><a href="#"> <img [src]="produit"
                     class="mobil_image"/>
                </a>

       <p>Produits & Services</p>


                          </li>
                             <li class="nav-item"><a href="#"><img [src]="contrat"
                             class="mobil_image"/>
                           </a>
      <p>Contrats</p>
                                       </li>




                </ul>
                <ul role="tablist"
                    class="nav bg-light nav-pills rounded nav-fill mb-6">
                    <li class="nav-item"><a href="#">  <img [src]="prestation"
                      class="mobil_image"/>
                    </a>
      <p>Prestations</p>

                            </li>

                    <li class="nav-item"><a href="#"><img [src]="contact"
                    class="mobil_image"/>
                  </a><p>Contactez-nous</p>


             </li>

                    </ul>
            </div>



                      </div>

              </div>
          </div>
          </div>
            </div>


      </td>
    </tr>
  </table>



          </div>
